.navbar {
  font-family: $navbar-font-family;
  @include border-radius(0);
  @include box-shadow(0 1px 5px rgba(0, 0, 0, .3));
  overflow: hidden;
  border: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 60px;
  line-height: 60px;
  .navbar-brand {
    @include three-dots-overflow();

  }
  div {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .category-icon-container {
    display: inline-block;
    overflow: hidden;
    background-color: #162b30;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center center;
    margin: 0 0px 0 15px;
  }
  h1.lesson-title-container
  {
    display: inline-block;
    overflow: hidden;
    color: #fff;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.65);
    height: 56px;
    line-height: 56px;
    margin: 0;
  }
  .level-title-container
  {
    display: inline-block;
    overflow: hidden;
    color: #fff;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.65);
    height: 56px;
    line-height: 56px;
  }
  .separateing-line-container
  {
    display: inline-block;
    overflow: hidden;
    width: 1px;
    height: 34px;
    //border-right: solid 1px #102328;
    margin: 11px 10px;
  }



  .points-awards-container
  {
    display: inline-block;
    overflow: visible;
    margin: -3px 0px 0px 0px;
    .imagepoints
    {

      display: inline-block;
      overflow: visible;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background: url(/images/points.svg) no-repeat center;
      background-size: contain;
      margin: 0px 0 0 0;
      position: relative;
      z-index: 1;
      background-position: right 0px;
      vertical-align: middle;
    }
    .imageawards
    {
      display: inline-block;
      overflow: hidden;
      width: 35px;
      height: 35px;
      background: url(/images/award.svg) no-repeat center;
      background-size: contain;
      margin: 0px 0 0 0;
      position: relative;
      z-index: 1;
      background-position: right 1px;
      vertical-align: middle;
      line-height: 1;
    }
    .num
    {
      display: inline-block;
      overflow: hidden;
      height: 35px;
      border-radius: 10px 0px 0 10px;
      margin: 0px -25px 0 0px;
      padding: 0 25px 0 10px;
      font-size: 12px;
      font-weight: bold;
      text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.65);
      position: relative;
      color: #fff;
      vertical-align: middle;
      line-height: 3;
      width: 64px;
      text-align: center;
    }

  }
  .rate-container {
    display: inline-block;
    overflow: visible;
    margin: -3px 0px 0px 0px;
    text-align: center;
    height: 56px;
    .imagerate {
      display: inline-block;
      overflow: hidden;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background: url(/images/rate.svg) no-repeat bottom;
      background-size: contain;
      margin: 0px 0 0 0;
      position: relative;
      z-index: 1;
      background-position: right center;
      vertical-align: middle;
    }
    .num {
      display: inline-block;
      overflow: hidden;
       height: 35px;
      line-height: 3;
      border-radius: 10px;
      vertical-align: middle;
      margin: 0 5px 0 0;
      padding: 0 15px 0 15px;
      font-size: 12px;
      font-weight: bold;
      text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.65);
      position: relative;
      color: #fff;
      width: 64px;
      text-align: center;
    }
  }
  .user-container {
    display: inline-block;
    overflow: visible;
    margin: 7px 0px 0px 0px;
    .imageuser {
      display: inline-block;
      overflow: hidden;
      width: 45px;
      height: 45px;
      line-height: 45px;
      background: url(/images/user.svg) no-repeat center;
      background-size: contain;
      margin: 0px 0 0 0;
      position: relative;
      z-index: 1;
      background-position: right  center;
    }
    .name {
      display: inline-block;
      overflow: visible;
      line-height: 1;
      border-radius: 10px;
      margin: 0px 0px 0 5px;
      font-size: 12px;
      text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.65);
      position: relative;
      color: #fff;
      text-align: left;
      vertical-align: middle;
      background-size: contain;
      height: 56px;

    }
  }
  .exit-container {
    display: inline-block;
    margin: 10px 0px 0px 5px;
    overflow: hidden;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: url(../images/exit.svg) no-repeat center;
    background-size: 70%;
    position: relative;
    z-index: 1;
    background-position: left center;
    cursor: pointer;
    transform: rotate(180deg);
  }
  .view-container
  {
    display: inline-block;
    margin: 10px 0px 0px 5px;
    overflow: hidden;
    width: 40px;
    height: 35px;
    line-height: 35px;
    background: url(../images/eye.svg) no-repeat center;
    background-size: 90%;
    position: relative;
    z-index: 1;
    background-position: left center;
    cursor: pointer;
  }
  .save-container {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    overflow: hidden;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: url(../images/save.svg) no-repeat center;
    background-size: 70%;
    position: relative;
    z-index: 1;
    background-position: center;
    cursor: pointer;
  }
  .navbar-custom-right-menu {
    float: right;
  }
  .navbar-toggle {
    text-decoration: none;
    color: #fff;
    width: 20px;
    height: 20px;
    margin-top: -4px;
    margin-right: 17px;
    &:before {
      content: '\E8D5';
      font-family: 'Material Icons';
      font-size: 26px;
    }
  }
  .navbar-collapse {
    &.in {
      overflow: visible;
    }
  }
}
body {
  .sidebar {
    margin-right: -220px;
  }
  .bars {
    top: 8px;
    position: absolute;
    left: -29px;
    cursor: pointer;
    width: 34px;
    height: 33px;
    line-height: 33px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 9;
    &:after,
    &:before {
      font-family: 'Material Icons';
      font-size: 24px;
      position: absolute;
      top: 1px;
      left: 7px;
      margin-right: 10px;
      @include transform(scale(0));
      @include transition(all .3s);

      color: #fff;
    }
    &:before {
      content: '\e5cb';
      @include transform(scale(1));
    }
    &:after {
      content: '\e5cc';
      @include transform(scale(0));
    }
  }
  .navbar-brand {
    margin-left: 30px !important;
  }
  .logo {
    width: 185px;
    height: 100%;
    margin: 10px 20px 10px 10px
  }
}
a.arrow-next
{
  position: absolute;
  width:35px ;
  height:35px ;
  left: 0px;
  margin: auto;
  top:0;
  bottom: 0;
  background:url(../images/right.svg) no-repeat ;
  background-size: contain ;
  background-position: center;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition:all 0.3s;
  transform: rotate(180deg);
}
a.arrow-next.pause,
a.arrow-prev.pause
{
  opacity: 0.4;
  pointer-events: none;
}
a.arrow-prev
{
  position: absolute;
  width:35px ;
  height:35px ;
  right: 10px;
  margin: auto;
  top:0;
  bottom: 0;
  background:url(../images/left.svg) no-repeat ;
  background-size: contain ;
  background-position: center;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition:all 0.3s;
  transform: rotate(180deg);
}

.full-width-admin {
  section.content {
    margin-right: 0px !important;
  }
}

.overlay-open {
  .bars {
    &:before {
      @include transform(scale(0));
    }

    &:after {
      @include transform(scale(1));
    }
  }
}

.navbar-header {
  padding: 3px 7px;

  .bars {
    float: left;
    text-decoration: none;
  }

}

.navbar-nav {
  > li {
    > a {
      padding: 9px 7px 2px 7px;
      margin-top: 8px;
      margin-left: 5px;
    }
  }
  .dropdown-menu {
    margin-top: 0px !important;
  }
}

@each $key, $val in $colors {
  .col-#{$key} {
    .navbar {
      @include navbar-link-color(#fff, #000, .95);
      // @include navbar-link-color(rgba(0,0,0,0.85), #000, .95);
    }
  }
}
