
@import 'theme-color-variables';
//green
@import 'theme-color-variables';

.theme-green {
    .sweet-alert button {
        background-color: $theme-green-border-bottom !important;
    }
    .sweet-alert h2 {
        color: $theme-green-border-bottom;
    }

    tr.head {
        background: $theme-green-border-bottom !important
    }
    .table100.ver1 .row100 td:hover {
        background-color: $theme-green-border-bottom;
    }
    .table100.ver2 .row100 td:hover {
        background-color:$theme-green-border-bottom;
    }
    .table100.ver3 .row100 td:hover {
        background-color: $theme-green-border-bottom;
    }
    .table100.ver4 .row100 td:hover {
        background-color: $theme-green-border-bottom;
    }
    .table100.ver5 .row100 td:hover {
        background-color: $theme-green-border-bottom;
    }
    .table100.ver6 .row100 td:hover {
        background-color: $theme-green-border-bottom;
    }
    .table100.ver7 .row100 td:hover {
        background-color: $theme-green-border-bottom;
    }
    .header-dropdown {
        list-style: none;
        padding: 2px 10px 0 0px;
        i {
            color: $theme-green-border-bottom;
        }
        &hover {
            list-style: none;
        }
    }
    .progress-main-index .header a h2:hover {
        display: block;
        overflow: hidden;
        color: $theme-green-border-bottom !important;
        text-decoration: none;
    }
    .progress-main-index .header a {
        display: block;
        overflow: hidden;
        cursor: pointer;
    }
    .progress-main-index .header a:hover {
        cursor: pointer;
        text-decoration: none;
    }
    .change-between-tablechart a.active {
        background: $theme-green !important;
    }
    table.table-bordered.dataTable td a {
        color: $theme-green-border-bottom;
    }
    .pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
        border: 0.08em solid $theme-green-border-bottom;
    }
    .c100:hover > span {
        color: $theme-green-border-bottom;
    }
    [type="checkbox"].filled-in:checked + label:after {
        border: 2px solid $theme-green-border-bottom;
        background-color: $theme-green-border-bottom;
    }
    [type="checkbox"].filled-in:checked + label:before {

        border: 2px solid $theme-green-border-bottom;
        background-color: $theme-green-border-bottom;
    }
    .fc-day-grid-event .fc-time {
        color: $theme-green-border-bottom !important;
    }
    .fc-state-disabled, .fc-state-down {
        background-color: #fff !important;
    }
    .fc-state-active, .fc-state-hover {
        background-color: $theme-green-border-bottom !important;
    }
    .fc-event {
        border: 1px solid $theme-green-border-bottom !important;
    }
    .fc-event, .fc-event-dot {
        background-color: $theme-green-border-bottom !important;
    }
    .fc-day-number {
        color: $theme-green !important;
    }
    .fc-state-default {
        background-color: $theme-green-border-bottom !important;
    }
    .fc-unthemed th {
        color: $theme-green-border-bottom !important;
    }
    .fc-day-header a, .fc-widget-header a {
        color: $theme-green-border-bottom !important;
    }
    .navbar {
        background-color: $theme-green;
        border-bottom: solid 4px $theme-green-border-bottom;
        .label-count {
            position: absolute;
            top: 2px;
            right: 6px;
            font-size: 10px;
            line-height: 15px;
            background-color: $theme-green-label-count;
            padding: 0 4px;
            @include border-radius(50px);
        }
    }
    .navbar-brand {
        color: $theme-green-navbar-brand;
        &:hover {
            color: $theme-green-navbar-brand_hover;
        }
        &:active {
            color: $theme-green-navbar-brand_active;
        }
        &:focus {
            color: $theme-green-navbar-brand_focus;
        }
    }
    .nav {
        > li {
            > a {
                color: $theme-green-nav-anchor;
                &:hover {
                    background-color: $theme-green-nav-anchor_hover;
                }
                &:focus {
                    background-color: $theme-green-nav-anchor_focus;
                }
            }
        }
        .open {
            > a {
                background-color: $theme-green-nav-anchor-opened;
                &:hover {
                    background-color: $theme-green-nav-anchor-opened_hover;
                }
                &:focus {
                    background-color: $theme-green-nav-anchor-opened_focus;
                }
            }
        }
    }
    .bars {
        color: $theme-green-bar;
    }
    .sidebar {
        .menu {
            .list {
                li.active {
                    background-color: $theme-green-menu-list-active;
                    > :first-child {
                        i, span {
                            color: $theme-green-border-bottom;
                        }
                    }
                }
                li {
                    background-color: $theme-green-menu-list-active;
                    i, span, a {
                        color: $theme-green;
                    }
                }
                .toggled {
                    background-color: $theme-green-menu-list-toggled;
                }
                .ml-menu {
                    background-color: $theme-green-menu-list-submenu;
                }
            }
        }
        .legal {
            background-color: $theme-green-legal-bg;
            .copyright {
                a {
                    color: $theme-green !important;
                }
            }
        }
    }
    .dtp {
        .p10 > a {
            color: $theme-green;
            text-decoration: none;
        }
    }
    .dtp {
        .dtp-content {
            .dtp-date-view {
                header.dtp-header {
                    background: $theme-green;;
                    color: #fff;
                    text-align: center;
                    padding: 0.3em;
                }
            }
        }
        div.dtp-date {
            background: $theme-green-border-bottom;
            text-align: center;
            color: #fff;
            padding: 10px;
        }
        div.dtp-time {
            background: $theme-green-border-bottom;
            text-align: center;
            color: #fff;
            padding: 10px;
        }
        table.dtp-picker-days {
            tr {
                td {
                    a.selected {
                        background: $theme-green;;
                        color: #fff;
                    }
                }
            }
        }
    }
    .dtp {
        .dtp-actual-meridien {
            a.selected {
                background: $theme-green;
                color: #fff;
            }
        }
    }
    .input-group {
        .form-line {
            &:after {
                border-bottom: 2px solid $theme-green-border-bottom !important;
            }
        }
    }
    .form-line {
        &:after {
            border-bottom: 2px solid $theme-green-border-bottom;
        }
    }
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        background-color: $theme-green-border-bottom !important;
    }
    .block-header {
        h2 {
            color: $theme-green-border-bottom !important;
        }
    }
    .dataTables_wrapper {
        input[type="search"] {
            border: 1px solid #e9e9e9;
            &:focus,
            &:active {
                border-bottom: 2px solid $theme-green-border-bottom;
            }
        }
    }
    .pagination {
        li.active {
            a {
                background-color: $theme-green;
            }
        }
    }
    .action {
        a {
            cursor: pointer;
            i {
                color: $theme-green-border-bottom;
                font-size: 20px;
            }
        }
    }
    .modal {
        .modal-header {
            background: $theme-green-border-bottom;
            color: #fff;
        }
    }
    .pagination {
        .active > a,
        .active > a:hover,
        .active > a:focus,
        .active > span,
        .active > span:hover,
        .active > span:focus {
            z-index: 3;
            color: #fff;
            background-color: $theme-green-border-bottom;
            border-color: $theme-green-border-bottom;
            cursor: default;
        }
    }
    .dd3-handle {
        background: $theme-green-border-bottom !important;
    }
    .dd3-content {
        color: $theme-green;
    }
    .dd3-content:hover {
        color: $theme-green-border-bottom;
    }
    .spinner-layer.pl-red {
        border-color: $theme-green-border-bottom;
    }
    .login-page {
        background-color: $theme-green;
        .login-box {
            a {
                font-size: 14px;
                text-decoration: none;
                color: $theme-green-border-bottom;
            }
        }
    }
    .signup-page {
        background-color: $theme-green;
        .signup-box {
            a {
                color: $theme-green-border-bottom;
            }
        }
    }
    .fp-page {
        background-color: $theme-green;
        .fp-box {
            a {
                font-size: 14px;
                text-decoration: none;
                color: $theme-green-border-bottom;
            }
        }
    }
    .progress .progress-bar-success {
        background-color: $theme-green-border-bottom;
    }
    .chat ul li.other .message {
        background-color: $theme-green-border-bottom;
    }
    .chat ul li.you .message {
        background-color: $theme-green;
    }
    .chat ul li.other .message:after {
        border-top: 17px solid $theme-green-border-bottom;
    }
    .chat ul li.you .message:after {
        border-top: 17px solid $theme-green;
    }
    .user-info {
        background: url('../../images/a.png') no-repeat;
    }
    .table.table-bordered.dataTable {
        .gotopage {
            color: $theme-green-border-bottom;
        }
    }
    .tree ul li:after, .tree ul li:before {
        background-color: $theme-green-border-bottom;
    }
    .tree {
        color: $theme-green-border-bottom;
    }
    .tree ul li, .tree ul li a, .tree ul li ul li ul li a, .tree ul li ul li ul li i {
        color: $theme-green-border-bottom
    }
    .tree ul a:hover {
        color: $theme-green
    }
    .tree ul li ul li ul li:after, .tree ul li ul li ul li:before {
        background: $theme-green-border-bottom
    }
    .nav-tabs {
        > li {
            > a {
                &:before {
                    border-bottom: 2px solid $theme-green-border-bottom;
                }
            }
        }
    }
    .panel-group .panel-col-manhalgreen .panel-title {
        background-color: $theme-green-border-bottom !important;
        color: #fff;
    }
    .panel-group .panel-col-manhalgreen {
        border: 1px solid $theme-green-border-bottom;
    }
    .media {
        .media-body {
            .media-mark {
                color:$theme-green-border-bottom;
            }
        }
    }
    .home .media .media-body .lesson_end
    {
        display: inline-block;
        color: #58b52f;
        text-align: center;
        height: 19px;
        width: 19px;
        line-height: 22px;
        margin: 0px 5px 0 10px;
        background: url(../../images/greencheckon.svg) no-repeat;
        background-size: contain;
        background-position: center;
        float: left;
        position: absolute;
        z-index: 9;
        left: 0;
        top:37%;

    }
    .no-media-to-show
    {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        text-align: center;
        margin: auto;
        height: 30px;
        color: $theme-green-border-bottom;
        font-size: 18px;
    }
    .ui-datepicker table,.ui-datepicker td, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
        background: $theme-green-border-bottom;
    }
    .student-view-option .card .header span
    {
        color: $theme-green-border-bottom;
    }
    .view-messages-container {
        ul.menu {
            border-top: solid 2px $theme-green-border-bottom;
            border-bottom: solid 2px $theme-green-border-bottom;
        }
    }
    .media {
        .media-body {
            .media-heading {
            }
            .type {
                color: $theme-green-border-bottom;
            }
        }
    }
    .col-main-color
    {
        color:$theme-green-border-bottom;
    }
    .sidebar .legal {
        border-top: 1px solid $theme-green-border-bottom;
    }
}
body.theme-green {
    .logo {
        background: url('../../images/greenlogoAr.svg') no-repeat no-repeat;
        background-size: contain;
        width: 135px;
        height: 100%;
        margin: 10px 20px 10px 10px;
        background-position: right;

    }
}


