//Theme manhalgreen 87be3f
$theme-manhalgreen: #044058;
$theme-manhalgreen-legal-bg: #fff;
$theme-manhalgreen-bar: #fff;
$theme-manhalgreen-navbar-brand: #fff;
$theme-manhalgreen-navbar-brand_active: #fff;
$theme-manhalgreen-navbar-brand_hover: #fff;
$theme-manhalgreen-navbar-brand_focus: #fff;
$theme-manhalgreen-nav-anchor: #fff;
$theme-manhalgreen-nav-anchor_hover: rgba(0,0,0,0);
$theme-manhalgreen-nav-anchor_focus: rgba(0,0,0,0);
$theme-manhalgreen-nav-anchor-opened: rgba(0,0,0,0);
$theme-manhalgreen-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-manhalgreen-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-manhalgreen-menu-list-active: rgba(0,0,0,0);
$theme-manhalgreen-menu-list-toggled: rgba(0,0,0,0);
$theme-manhalgreen-menu-list-submenu: rgba(0,0,0,0);
$theme-manhalgreen-border-bottom:#87be3f;
$theme-manhalgreen-label-count:#87be3f;

//Theme Red e55539
$theme-red: #1176ab;
$theme-red-legal-bg: #fff;
$theme-red-bar: #fff;
$theme-red-navbar-brand: #fff;
$theme-red-navbar-brand_active: #fff;
$theme-red-navbar-brand_hover: #fff;
$theme-red-navbar-brand_focus: #fff;
$theme-red-nav-anchor: #fff;
$theme-red-nav-anchor_hover: rgba(0,0,0,0);
$theme-red-nav-anchor_focus: rgba(0,0,0,0);
$theme-red-nav-anchor-opened: rgba(0,0,0,0);
$theme-red-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-red-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-red-menu-list-active: rgba(0,0,0,0);
$theme-red-menu-list-toggled: rgba(0,0,0,0);
$theme-red-menu-list-submenu: rgba(0,0,0,0);
$theme-red-border-bottom:#e55539;
$theme-red-label-count:#e55539;



//Theme Purple f28d21
$theme-purple: #7366ab;
$theme-purple-legal-bg: #fff;
$theme-purple-bar: #fff;
$theme-purple-navbar-brand: #fff;
$theme-purple-navbar-brand_active: #fff;
$theme-purple-navbar-brand_hover: #fff;
$theme-purple-navbar-brand_focus: #fff;
$theme-purple-nav-anchor: #fff;
$theme-purple-nav-anchor_hover: rgba(0,0,0,0);
$theme-purple-nav-anchor_focus: rgba(0,0,0,0);
$theme-purple-nav-anchor-opened: rgba(0,0,0,0);
$theme-purple-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-purple-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-purple-menu-list-active: rgba(0,0,0,0);
$theme-purple-menu-list-toggled: rgba(0,0,0,0);
$theme-purple-menu-list-submenu: rgba(0,0,0,0);
$theme-purple-border-bottom:#f28d21;
$theme-purple-label-count:#f28d21;



//Theme Indigo 004b79
$theme-indigo: #41bac3;
$theme-indigo-legal-bg: #fff;
$theme-indigo-bar: #fff;
$theme-indigo-navbar-brand: #fff;
$theme-indigo-navbar-brand_active: #fff;
$theme-indigo-navbar-brand_hover: #fff;
$theme-indigo-navbar-brand_focus: #fff;
$theme-indigo-nav-anchor: #fff;
$theme-indigo-nav-anchor_hover: rgba(0,0,0,0);
$theme-indigo-nav-anchor_focus: rgba(0,0,0,0);
$theme-indigo-nav-anchor-opened: rgba(0,0,0,0);
$theme-indigo-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-indigo-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-indigo-menu-list-active: rgba(0,0,0,0);
$theme-indigo-menu-list-toggled: rgba(0,0,0,0);
$theme-indigo-menu-list-submenu: rgba(0,0,0,0);
$theme-indigo-border-bottom:#004b79;
$theme-indigo-label-count:#004b79;

//Theme Green 42b1a8
$theme-green: #e2607e;
$theme-green-legal-bg: #fff;
$theme-green-bar: #fff;
$theme-green-navbar-brand: #fff;
$theme-green-navbar-brand_active: #fff;
$theme-green-navbar-brand_hover: #fff;
$theme-green-navbar-brand_focus: #fff;
$theme-green-nav-anchor: #fff;
$theme-green-nav-anchor_hover: rgba(0,0,0,0);
$theme-green-nav-anchor_focus: rgba(0,0,0,0);
$theme-green-nav-anchor-opened: rgba(0,0,0,0);
$theme-green-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-green-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-green-menu-list-active: rgba(0,0,0,0);
$theme-green-menu-list-toggled: rgba(0,0,0,0);
$theme-green-menu-list-submenu: rgba(0,0,0,0);
$theme-green-border-bottom:#42b1a8;
$theme-green-label-count:#42b1a8;

//Theme Orange f7a517
$theme-orange: #09a8aa;
$theme-orange-legal-bg: #fff;
$theme-orange-bar: #fff;
$theme-orange-navbar-brand: #fff;
$theme-orange-navbar-brand_active: #fff;
$theme-orange-navbar-brand_hover: #fff;
$theme-orange-navbar-brand_focus: #fff;
$theme-orange-nav-anchor: #fff;
$theme-orange-nav-anchor_hover: rgba(0,0,0,0);
$theme-orange-nav-anchor_focus: rgba(0,0,0,0);
$theme-orange-nav-anchor-opened: rgba(0,0,0,0);
$theme-orange-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-orange-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-orange-menu-list-active: rgba(0,0,0,0);
$theme-orange-menu-list-toggled: rgba(0,0,0,0);
$theme-orange-menu-list-submenu: rgba(0,0,0,0);
$theme-orange-border-bottom:#f7a517;
$theme-orange-label-count:#f7a517;

//Theme Deep Orange fc861d
$theme-deep-orange: #2d2d2d;
$theme-deep-orange-legal-bg: #fff;
$theme-deep-orange-bar: #fff;
$theme-deep-orange-navbar-brand: #fff;
$theme-deep-orange-navbar-brand_active: #fff;
$theme-deep-orange-navbar-brand_hover: #fff;
$theme-deep-orange-navbar-brand_focus: #fff;
$theme-deep-orange-nav-anchor: #fff;
$theme-deep-orange-nav-anchor_hover: rgba(0,0,0,0);
$theme-deep-orange-nav-anchor_focus: rgba(0,0,0,0);
$theme-deep-orange-nav-anchor-opened: rgba(0,0,0,0);
$theme-deep-orange-nav-anchor-opened_hover: rgba(0,0,0,0);
$theme-deep-orange-nav-anchor-opened_focus: rgba(0,0,0,0);
$theme-deep-orange-menu-list-active: rgba(0,0,0,0);
$theme-deep-orange-menu-list-toggled: rgba(0,0,0,0);
$theme-deep-orange-menu-list-submenu: rgba(0,0,0,0);
$theme-deep-orange-border-bottom:#fc861d;
$theme-deep-orange-label-count:#fc861d;
