@import 'theme-color-variables';

.theme-manhalgreen {

  .sweet-alert button {
    background-color: $theme-manhalgreen-border-bottom !important;
  }
  .sweet-alert h2 {
    color: $theme-manhalgreen-border-bottom;
  }
  tr.head {
    background: $theme-manhalgreen-border-bottom !important
  }
  .table100.ver1 .row100 td:hover {
    background-color: $theme-manhalgreen-border-bottom;
  }
  .table100.ver2 .row100 td:hover {
    background-color:$theme-manhalgreen-border-bottom;
  }
  .table100.ver3 .row100 td:hover {
    background-color: $theme-manhalgreen-border-bottom;
  }
  .table100.ver4 .row100 td:hover {
    background-color: $theme-manhalgreen-border-bottom;
  }
  .table100.ver5 .row100 td:hover {
    background-color: $theme-manhalgreen-border-bottom;
  }
  .table100.ver6 .row100 td:hover {
    background-color: $theme-manhalgreen-border-bottom;
  }
  .table100.ver7 .row100 td:hover {
    background-color: $theme-manhalgreen-border-bottom;
  }
  .header-dropdown {
    list-style: none;
    padding: 2px 10px 0 0px;
    i {
      color: $theme-manhalgreen-border-bottom;
    }
    &hover {
      list-style: none;
    }
  }
  .progress-main-index .header a h2:hover {
    display: block;
    overflow: hidden;
    color: $theme-manhalgreen-border-bottom !important;
    text-decoration: none;
  }
  .progress-main-index .header a {
    display: block;
    overflow: hidden;
    cursor: pointer;
  }
  .progress-main-index .header a:hover {
    cursor: pointer;
    text-decoration: none;
  }
  .change-between-tablechart a.active {
    background: $theme-manhalgreen !important;
  }
  table.table-bordered.dataTable td a {
    color: $theme-manhalgreen-border-bottom;
  }
  .pie, .c100 .bar, .c100.p51 .fill, .c100.p52 .fill, .c100.p53 .fill, .c100.p54 .fill, .c100.p55 .fill, .c100.p56 .fill, .c100.p57 .fill, .c100.p58 .fill, .c100.p59 .fill, .c100.p60 .fill, .c100.p61 .fill, .c100.p62 .fill, .c100.p63 .fill, .c100.p64 .fill, .c100.p65 .fill, .c100.p66 .fill, .c100.p67 .fill, .c100.p68 .fill, .c100.p69 .fill, .c100.p70 .fill, .c100.p71 .fill, .c100.p72 .fill, .c100.p73 .fill, .c100.p74 .fill, .c100.p75 .fill, .c100.p76 .fill, .c100.p77 .fill, .c100.p78 .fill, .c100.p79 .fill, .c100.p80 .fill, .c100.p81 .fill, .c100.p82 .fill, .c100.p83 .fill, .c100.p84 .fill, .c100.p85 .fill, .c100.p86 .fill, .c100.p87 .fill, .c100.p88 .fill, .c100.p89 .fill, .c100.p90 .fill, .c100.p91 .fill, .c100.p92 .fill, .c100.p93 .fill, .c100.p94 .fill, .c100.p95 .fill, .c100.p96 .fill, .c100.p97 .fill, .c100.p98 .fill, .c100.p99 .fill, .c100.p100 .fill {
    border: 0.08em solid $theme-manhalgreen-border-bottom;
  }
  .c100:hover > span {
    color: $theme-manhalgreen-border-bottom;
  }
  [type="checkbox"].filled-in:checked + label:after {
    border: 2px solid $theme-manhalgreen-border-bottom;
    background-color: $theme-manhalgreen-border-bottom;
  }
  [type="checkbox"].filled-in:checked + label:before {

    border: 2px solid $theme-manhalgreen-border-bottom;
    background-color: $theme-manhalgreen-border-bottom;
  }
  .fc-day-grid-event .fc-time {
    color: $theme-manhalgreen-border-bottom !important;
  }
  .fc-state-disabled, .fc-state-down {
    background-color: #fff !important;
  }
  .fc-state-active, .fc-state-hover {
    background-color: $theme-manhalgreen-border-bottom !important;
  }
  .fc-event {
    border: 1px solid $theme-manhalgreen-border-bottom !important;
  }
  .fc-event, .fc-event-dot {
    background-color: $theme-manhalgreen-border-bottom !important;
  }
  .fc-day-number {
    color: $theme-manhalgreen !important;
  }
  .fc-state-default {
    background-color: $theme-manhalgreen-border-bottom !important;
  }
  .fc-unthemed th {
    color: $theme-manhalgreen-border-bottom !important;
  }
  .fc-day-header a, .fc-widget-header a {
    color: $theme-manhalgreen-border-bottom !important;
  }
  .navbar {
    background-color: $theme-manhalgreen;
    border-bottom: solid 4px $theme-manhalgreen-border-bottom;
    .label-count {
      position: absolute;
      top: 2px;
      right: 6px;
      font-size: 10px;
      line-height: 15px;
      background-color: $theme-manhalgreen-label-count;
      padding: 0 4px;
      @include border-radius(50px);
    }
  }
  .navbar-brand {
    color: $theme-manhalgreen-navbar-brand;
    &:hover {
      color: $theme-manhalgreen-navbar-brand_hover;
    }
    &:active {
      color: $theme-manhalgreen-navbar-brand_active;
    }
    &:focus {
      color: $theme-manhalgreen-navbar-brand_focus;
    }
  }
  .nav {
    > li {
      > a {
        color: $theme-manhalgreen-nav-anchor;
        &:hover {
          background-color: $theme-manhalgreen-nav-anchor_hover;
        }
        &:focus {
          background-color: $theme-manhalgreen-nav-anchor_focus;
        }
      }
    }
    .open {
      > a {
        background-color: $theme-manhalgreen-nav-anchor-opened;
        &:hover {
          background-color: $theme-manhalgreen-nav-anchor-opened_hover;
        }
        &:focus {
          background-color: $theme-manhalgreen-nav-anchor-opened_focus;
        }
      }
    }
  }
  .bars {
    color: $theme-manhalgreen-bar;
  }
  .sidebar {
    .menu {
      .list {
        li.active {
          background-color: $theme-manhalgreen-menu-list-active;
          > :first-child {
            i, span {
              color: $theme-manhalgreen-border-bottom;
            }
          }
        }
        li {
          background-color: $theme-manhalgreen-menu-list-active;
          i, span, a {
            color: $theme-manhalgreen;
          }
        }
        .toggled {
          background-color: $theme-manhalgreen-menu-list-toggled;
        }
        .ml-menu {
          background-color: $theme-manhalgreen-menu-list-submenu;
        }
      }
    }
    .legal {
      background-color: $theme-manhalgreen-legal-bg;
      .copyright {
        a {
          color: $theme-manhalgreen !important;
        }
      }
    }
  }
  .dtp {
    .p10 > a {
      color: $theme-manhalgreen;
      text-decoration: none;
    }
  }
  .dtp {
    .dtp-content {
      .dtp-date-view {
        header.dtp-header {
          background: $theme-manhalgreen;;
          color: #fff;
          text-align: center;
          padding: 0.3em;
        }
      }
    }
    div.dtp-date {
      background: $theme-manhalgreen-border-bottom;
      text-align: center;
      color: #fff;
      padding: 10px;
    }
    div.dtp-time {
      background: $theme-manhalgreen-border-bottom;
      text-align: center;
      color: #fff;
      padding: 10px;
    }
    table.dtp-picker-days {
      tr {
        td {
          a.selected {
            background: $theme-manhalgreen;;
            color: #fff;
          }
        }
      }
    }
  }
  .dtp {
    .dtp-actual-meridien {
      a.selected {
        background: $theme-manhalgreen;
        color: #fff;
      }
    }
  }
  .input-group {
    .form-line {
      &:after {
        border-bottom: 2px solid $theme-manhalgreen-border-bottom !important;
      }
    }
  }
  .form-line {
    &:after {
      border-bottom: 2px solid $theme-manhalgreen-border-bottom;
    }
  }
  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:focus {
    background-color: $theme-manhalgreen-border-bottom !important;
  }
  .block-header {
    h2 {
      color: $theme-manhalgreen-border-bottom !important;
    }
  }
  .dataTables_wrapper {
    input[type="search"] {
      border: 1px solid #e9e9e9;
      &:focus,
      &:active {
        border-bottom: 2px solid $theme-manhalgreen-border-bottom;
      }
    }
  }
  .pagination {
    li.active {
      a {
        background-color: $theme-manhalgreen;
      }
    }
  }
  .action {
    a {
      cursor: pointer;
      i {
        color: $theme-manhalgreen-border-bottom;
        font-size: 20px;
      }
    }
  }
  .modal {
    .modal-header {
      background: $theme-manhalgreen-border-bottom;
      color: #fff;
    }
  }
  .pagination {
    .active > a,
    .active > a:hover,
    .active > a:focus,
    .active > span,
    .active > span:hover,
    .active > span:focus {
      z-index: 3;
      color: #fff;
      background-color: $theme-manhalgreen-border-bottom;
      border-color: $theme-manhalgreen-border-bottom;
      cursor: default;
    }
  }
  .dd3-handle {
    background: $theme-manhalgreen-border-bottom !important;
  }
  .dd3-content {
    color: $theme-manhalgreen;
  }
  .dd3-content:hover {
    color: $theme-manhalgreen-border-bottom;
  }
  .spinner-layer.pl-red {
    border-color: $theme-manhalgreen-border-bottom;
  }
  .login-page {
    background-color: $theme-manhalgreen;
    .login-box {
      a {
        font-size: 14px;
        text-decoration: none;
        color: $theme-manhalgreen-border-bottom;
      }
    }
  }
  .signup-page {
    background-color: $theme-manhalgreen;
    .signup-box {
      a {
        color: $theme-manhalgreen-border-bottom;
      }
    }
  }
  .fp-page {
    background-color: $theme-manhalgreen;
    .fp-box {
      a {
        font-size: 14px;
        text-decoration: none;
        color: $theme-manhalgreen-border-bottom;
      }
    }
  }
  .progress .progress-bar-success {
    background-color: $theme-manhalgreen-border-bottom;
  }
  .chat ul li.other .message {
    background-color: $theme-manhalgreen-border-bottom;
  }
  .chat ul li.you .message {
    background-color: $theme-manhalgreen;
  }
  .chat ul li.other .message:after {
    border-top: 17px solid $theme-manhalgreen-border-bottom;
  }
  .chat ul li.you .message:after {
    border-top: 17px solid $theme-manhalgreen;
  }
  .user-info {
    background: url('../../images/user-img-background.png') no-repeat;
  }
  .table.table-bordered.dataTable {
    .gotopage {
      color: $theme-manhalgreen-border-bottom;
    }
  }
  .tree ul li:after, .tree ul li:before {
    background-color: $theme-manhalgreen-border-bottom;
  }
  .tree {
    color: $theme-manhalgreen-border-bottom;
  }
  .tree ul li, .tree ul li a, .tree ul li ul li ul li a, .tree ul li ul li ul li i {
    color: $theme-manhalgreen-border-bottom
  }
  .tree ul a:hover {
    color: $theme-manhalgreen
  }
  .tree ul li ul li ul li:after, .tree ul li ul li ul li:before {
    background: $theme-manhalgreen-border-bottom
  }
  .nav-tabs {
    > li {
      > a {
        &:before {
          border-bottom: 2px solid $theme-manhalgreen-border-bottom;
        }
      }
    }
  }
  .panel-group .panel-col-manhalgreen .panel-title {
    background-color: $theme-manhalgreen-border-bottom !important;
    color: #fff;
  }
  .panel-group .panel-col-manhalgreen {
    border: 1px solid $theme-manhalgreen-border-bottom;
  }
  .media {
    .media-body {
      .media-mark {
        color:$theme-manhalgreen-border-bottom;
      }
    }
  }
  .home .media .media-body .lesson_end
  {
    display: inline-block;
    color: #58b52f;
    text-align: center;
    height: 19px;
    width: 19px;
    line-height: 22px;
    margin: 0px 5px 0 10px;
    background: url(../../images/manhalgreencheckon.svg) no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    position: absolute;
    z-index: 9;
    left: 0;
    top:37%;

  }
  .no-media-to-show
  {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    text-align: center;
    margin: auto;
    height: 30px;
    color: $theme-manhalgreen-border-bottom;
    font-size: 18px;
  }
  .ui-datepicker table,.ui-datepicker td, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: $theme-manhalgreen-border-bottom;
  }
  .student-view-option .card .header span
  {
    color: $theme-manhalgreen-border-bottom;
  }
  .view-messages-container {
    ul.menu {
      border-top: solid 2px $theme-manhalgreen-border-bottom;
      border-bottom: solid 2px $theme-manhalgreen-border-bottom;
    }
  }
  .media {
    .media-body {
      .media-heading {
      }
      .type {
        color: $theme-manhalgreen-border-bottom;
      }
    }
  }
  .col-main-color
  {
    color:$theme-manhalgreen-border-bottom;
  }
  .sidebar .legal {
    border-top: 1px solid $theme-manhalgreen-border-bottom;
  }
}
body.theme-manhalgreen {
  .logo {
    background: url('../../images/manhalgreenlogoAr.svg') no-repeat no-repeat;
    background-size: contain;
    width: 135px;
    height: 100%;
    margin: 10px 20px 10px 10px;
    background-position: right;

  }
}

