@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(ar/DroidKufi-Regular.eot);
  src: url(ar/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'), url(ar/DroidKufi-Regular.woff2) format('woff2'), url(ar/DroidKufi-Regular.woff) format('woff'), url(ar/DroidKufi-Regular.ttf) format('truetype');
}



@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(ar/DroidKufi-Bold.eot);
  src: url(ar/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'), url(ar/DroidKufi-Bold.woff2) format('woff2'), url(ar/DroidKufi-Bold.woff) format('woff'), url(ar/DroidKufi-Bold.ttf) format('truetype');
}