.navbar {
    font-family: $navbar-font-family;
    @include border-radius(0);
    @include box-shadow(0 1px 5px rgba(0,0,0,.3));
    border: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1049;
    width: 100%;
    .navbar-brand {
        @include three-dots-overflow();
    }
    .navbar-custom-right-menu {
        float: right;
    }
    .navbar-toggle {
        text-decoration: none;
        color: #fff;
        width: 20px;
        height: 20px;
        margin-top: -4px;
        margin-left: 17px;
        &:before {
            content: '\E8D5';
            font-family: 'Material Icons';
            font-size: 26px;
        }
    }
    .navbar-collapse {
        &.in {
            overflow: visible;
        }
    }
}
body {
    .sidebar {
        margin-right: -300px;
    }
    .bars {
        &:after,
        &:before {
            font-family: 'Material Icons';
            font-size: 24px;
            position: absolute;
            top: 11px;
            right: 10px;
            margin-left: 10px;
            @include transform(scale(0));
            @include transition(all .3s);
        }
        &:before {
            content: '\E5D2';
            @include transform(scale(1));
        }
        &:after {
            content: '\e5c8';
            @include transform(scale(0));
        }
    }
    .navbar-brand {
        margin-right: 30px !important;
    }
}
.full-width-admin {
    section.content {
        margin-right: 0px !important;
    }
}
.overlay-open {
    .bars {
        &:before {
            @include transform(scale(0));
        }

        &:after {
            @include transform(scale(1));
        }
    }
}
.navbar-header {
    padding: 3px 7px;
    float: right;
    .bars {
        float: left;
        text-decoration: none;
    }
}
.navbar-nav {
    > li {
        > a {
            padding: 9px 7px 2px 7px;
            margin-top: 8px;
            margin-right: 5px;
        }
    }
    .dropdown-menu {
        margin-top: 0px !important;
    }
}
@each $key, $val in $colors {
    .col-#{$key} {
        .navbar {
            @include navbar-link-color(#fff, #000, .95);
        }
    }
}
