.login-page {
    padding-left: 0;
    max-width: 400px;
    overflow-x: hidden;
    left: 0;
    right: 0;
    margin: 12% auto;
    top: 0;
    bottom: 0;
    .login-box {
        text-align: center;

        .logo-school
        {
            display: block;
            overflow: hidden;
            width: 110px;
            height: 80px;
            margin: 0;
            float: right;
            object-fit: contain;
        }
        .msg {
            color: #555;
            margin-bottom: 15px;
            text-align: center;
            font-size: 15px;
            font-weight: bold;
            span{
                display: block;
                overflow: hidden;
                width: 100%;
                font-weight: normal;
            }
        }
        a {
            font-size: 14px;
            text-decoration: none;
        }
        a.forgot-password-button {
            font-size: 14px;
            text-decoration: none;
            float: right !important;
            font-weight: bold;
        }
        a.language-button {
            font-size: 14px;
            text-decoration: none;
            float: left !important;
            font-weight: bold;
            border: solid 1px;
            padding: 0 10px;
        }
        .logo1 {
            display: inline-block;
            overflow: hidden;
            margin: auto;
            a {
                font-size: 25px;
                display: block;
                overflow: hidden;
                text-align: left;
                //color: #fff;
                margin: 25px 0 0 10px;
            }
            small {
                display: block;
                overflow: hidden;
                width: 100%;
                text-align: center;
                color: #fff;
                padding-top: 13px;
                clear: both;
            }
            margin-bottom: 5px;
        }
    }
}
