@import 'theme-color-variables';

.theme-indigo {
    .sweet-alert button {
        background-color: $theme-indigo-border-bottom !important;
    }
    .sweet-alert h2 {
        color: $theme-indigo-border-bottom;
    }
    .navbar {
        background-color: $theme-indigo;
        border-bottom: solid 4px $theme-indigo-border-bottom;

        .label-count {
            position: absolute;
            top: 2px;
            right: 6px;
            font-size: 10px;
            line-height: 15px;
            background-color: $theme-indigo-label-count;
            padding: 0 4px;
            @include border-radius(50px);
        }
    }
    .navbar-brand {
        color: $theme-indigo-navbar-brand;

        &:hover {
            color: $theme-indigo-navbar-brand_hover;
        }

        &:active {
            color: $theme-indigo-navbar-brand_active;
        }

        &:focus {
            color: $theme-indigo-navbar-brand_focus;
        }
    }

    .nav {
        > li {
            > a {
                color: $theme-indigo-nav-anchor;

                &:hover {
                    background-color: $theme-indigo-nav-anchor_hover;
                }

                &:focus {
                    background-color: $theme-indigo-nav-anchor_focus;
                }
            }
        }

        .open {
            > a {
                background-color: $theme-indigo-nav-anchor-opened;

                &:hover {
                    background-color: $theme-indigo-nav-anchor-opened_hover;
                }

                &:focus {
                    background-color: $theme-indigo-nav-anchor-opened_focus;
                }
            }
        }
    }

    .bars {
        color: $theme-indigo-bar;
    }

    .sidebar {
        .menu {
            .list {
                li.active {
                    background-color: $theme-indigo-menu-list-active;

                    > :first-child {
                        i, span {
                            color: $theme-indigo-border-bottom;
                        }
                    }
                }
                li {
                    background-color: $theme-indigo-menu-list-active;
                    i, span,a {
                        color: $theme-indigo;
                    }
                }


                .toggled {
                    background-color: $theme-indigo-menu-list-toggled;
                }

                .ml-menu {
                    background-color: $theme-indigo-menu-list-submenu;
                }
            }
        }

        .legal {
            background-color: $theme-indigo-legal-bg;

            .copyright {
                a {
                    color: $theme-indigo !important;
                }
            }
        }
    }

    .dtp {
        .p10 > a { color: $theme-indigo; text-decoration: none; }

    }
    .dtp {
        .dtp-content {
            .dtp-date-view {
                header.dtp-header
                {
                    background: $theme-indigo;;
                    color: #fff;
                    text-align: center;
                    padding: 0.3em;
                }
            }
        }
        div.dtp-date{
            background: $theme-indigo-border-bottom; text-align: center; color: #fff; padding: 10px;
        }
        div.dtp-time{
            background: $theme-indigo-border-bottom; text-align: center; color: #fff; padding: 10px;
        }
        table.dtp-picker-days{
            tr{
                td{
                    a.selected{ background: $theme-indigo;; color: #fff; }
                }

            }
        }

    }
    .dtp {
        .dtp-actual-meridien {
            a.selected {
                background: $theme-indigo; color: #fff;
            }
        }
    }
    .input-group {
        .form-line {
            &:after {
                border-bottom: 2px solid $theme-indigo-border-bottom !important;
            }
        }
    }

    .form-line {
        &:after {
            border-bottom: 2px solid $theme-indigo-border-bottom;
        }
    }
    .btn-primary,
    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary:focus {
        background-color: $theme-indigo-border-bottom !important;
    }

    .block-header {
        h2 {
            color: $theme-indigo-border-bottom !important;

        }
    }
    .dataTables_wrapper {
        input[type="search"] {
            border: 1px solid #e9e9e9;
            //border-bottom: 2px solid $theme-indigo-border-bottom;

            &:focus,
            &:active {
                border-bottom: 2px solid $theme-indigo-border-bottom;
            }
        }
    }


    .pagination {
        li.active {
            a {
                background-color: $theme-indigo;
            }
        }
    }

    .action
    {
        a{cursor: pointer;
            i{
                color: #aaaaaa;
                font-size: 20px;
            }
        }
    }
    .modal {
        .modal-header {
            background:$theme-indigo-border-bottom ;
            color: #fff;

        }
    }
    .pagination
    {
        .active > a,
        .active > a:hover,
        .active > a:focus,
        .active > span,
        .active > span:hover,
        .active > span:focus
        {
            z-index: 3;
            color: #fff;
            background-color: $theme-indigo-border-bottom;
            border-color: $theme-indigo-border-bottom;
            cursor: default;
        }
    }
    .dd3-handle {
        background: $theme-indigo-border-bottom !important;
    }
    .dd3-content
    {
        color: $theme-indigo;

    }
    .dd3-content:hover {
        color: $theme-indigo-border-bottom;
    }
    .spinner-layer.pl-indigo
    {
        border-color: $theme-indigo-border-bottom;
    }
    .login-page {
        background-color: $theme-indigo;
        .login-box {
            a {
                font-size: 14px;
                text-decoration: none;
                color: $theme-indigo-border-bottom;
            }
        }
    }
    .signup-page {
        background-color: $theme-indigo;
        .signup-box {
            a {
                color: $theme-indigo-border-bottom;
            }
        }
    }
    .fp-page {
        background-color: $theme-indigo;
        .fp-box {
            a {
                font-size: 14px;
                text-decoration: none;
                color: $theme-indigo-border-bottom;
            }
        }
    }
    .progress .progress-bar-success
    {
        background-color: $theme-indigo-border-bottom;
    }
    .chat ul li.other .message {
        background-color: $theme-indigo-border-bottom;
    }
    .chat ul li.you .message {
        background-color: $theme-indigo;
    }
    .chat ul li.other .message:after
    {
        border-top: 17px solid $theme-indigo-border-bottom;
    }
    .chat ul li.you .message:after
    {
        border-top: 17px solid $theme-indigo;
    }
    .user-info {
        background: url('../images/user-img-background.png') no-repeat no-repeat;
    }
    .table.table-bordered.dataTable
    {
        .gotopage {
            color: $theme-indigo-border-bottom;
        }
    }

    .navbar .category-icon-container
    {
        background-color: $theme-indigo-border-bottom;
    }
    .navbar .separateing-line-container {
        border-right: solid 1px #368296;
        border-left: solid 1px #82c7d8;
    }
    .navbar .rate-container .num ,.navbar .points-awards-container .num {
        background: #68c8cf;
        -webkit-box-shadow: 0px 1px 0px 0px #9ecec7, inset 0px 0px 0px 0px rgba(0, 0, 0, 0.58);
        box-shadow: 0px 1px 0px 0px #9ecec7, inset 0px 0px 0px 0px rgba(0, 0, 0, 0.58)
    }
    .bars {
        background-image: url(../../images/indigoarrowbk.png);
        background-position: center;
        background-repeat: no-repeat;
    }
    .item-seen {
        background: url(../../images/checkof.svg) no-repeat;
        background-size: contain;
        background-position: center;
    }
    .item-seen.selected {
        background: url(../../images/indigocheckon.svg) no-repeat;
        background-size: contain;
        background-position: center;
    }
    .item-edit {
        background: url(../../images/indigoedit.svg) no-repeat;
        background-size: contain;
        background-position: center;
    }
    .item-delete {
        background: url(../../images/indigodelete.svg) no-repeat;
        background-size: contain;
        background-position: center;
    }
    .addlesson-viewer-container {
        a:hover i {
            background: url(../../images/addrollover.png) no-repeat;
            background-position: center;
            background-size: contain;
        }
        i {
            background: url(../../images/indigoaddon.png) no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    a.arrow-next:hover,a.arrow-next.active
    {
        background:url(../../images/indigorighton.svg) no-repeat ;
        background-size: contain ;
        background-position: center;
    }
    a.arrow-prev:hover,a.arrow-prev.active
    {
        background:url(../../images/indigolefton.svg) no-repeat ;
        background-size: contain ;
        background-position: center;
    }
    .vertical-slider-viewer {
        ul {
            li.selected {
                border: solid 2px $theme-indigo-border-bottom;
                box-shadow: 0 2px 6px $theme-indigo-border-bottom, 0 2px 6px $theme-indigo-border-bottom;
                //-webkit-transform: scale(1.04);
                //transform: scale(1.04);
            }
        }
    }
    .tool-tip {
        background-color: $theme-indigo;
        color: $theme-indigo-border-bottom;
    }
    .tool-tip:after {
        border-top: 10px solid $theme-indigo;
    }
}
