//Colors
$colors: ( red: #e55539,manhalgreen: #87be3f,purple: #7366ab, indigo: #004b79,  green: #42b1a8, orange: #f7a517, deep-orange: #fc861d) !default;
//Fonts Family
$navbar-font-family: 'Roboto', sans-serif;
$sidebar-font-family: 'Roboto', sans-serif;
